<div class="wrapper">
  <div class="cart-container">
    <h1>In Cart</h1>
    <table
      mat-table
      [dataSource]="shoppingCart"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="items" class="item-titles">
        <th mat-header-cell *matHeaderCellDef>item</th>
        <td mat-cell *matCellDef="let x">
          <button color="warn" mat-icon-button (click)="deleteFromCart(x)">
            <mat-icon class="material-icons">clear</mat-icon>
          </button>
          {{ x.title }}
        </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>price</th>
        <td mat-cell *matCellDef="let x">
          {{ x.price }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>

    <app-calculator [shoppingCart]="shoppingCart"></app-calculator>
  </div>
  <hr />
  <app-favourites></app-favourites>
</div>
