@import "./../../../helpers.scss";

.wrapper {
  padding: $white-space;
  .list-item {
    display: flex;
    max-width: 400px;
    align-items: center;
    button {
      margin-left: auto;
    }
  }
}
