@import "../../../helpers.scss";

header {
  height: 10vh;
  width: 100%;
  background-color: $mid-black;
  display: flex;
  .logo-container {
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-left: $white-space;
    background-color: whitesmoke;
  }
  .menu-container {
    display: flex;
    margin-left: auto;
    margin-right: $white-space;
    .menu-button {
      align-self: center;
      background-color: whitesmoke;
    }
  }
}
