.wrapper{
    display: flex;
    justify-content: space-evenly;
    .card-item{
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 200px;
        height: 400px;
    }
}